@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "Rubik";
    background: rgb(51, 51, 51);
}

.question {
  margin-bottom: 30px;
  line-height: 32px;
  color: white;
}

.quiz {
  width: 90%;
  margin: auto;
  padding: 10px;
  
}

.options {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.option._right {
  background: green;
}

.option._wrong {
  background: red;
}

.option {
  background: gray;
  padding: 15px 10px;
  color: white;
  border: none;
  text-align: left;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
}

.action {
  width: 100%;
  margin-top: 20px;
}

.next {
  position: relative;
  background: #49C0CA;
  width: 50%;
  border: none;
  margin-left: 50%;
  padding: 17px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}

.next:disabled, .next[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.helper {
  width: 90%;
  margin: 40px auto 0 auto;
  color: white;
  display: flex;
  gap: 10px;
}

.word_container {
  background-color: gray;
  padding: 15px;
  border-radius: 10px;
  flex: 0.5;
  text-transform: capitalize;
}

.word_container.hide {
  display: none;
}

.word_container > .title {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  background: gray;
  padding: 5px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  color: #E4E4E4;
  font-size: 16px;
}

a {
  text-decoration: none;
}