@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --black: rgb(31, 31, 31);
  --dark-gray: rgb(71, 71, 71);
  --light-gray: lightgray;
  --gray: rgb(101, 101, 101);
  --white: white;
  --green: limegreen;
  --dark-green: #32B05C;
  --red: orangered;
  --dark-red: #F9484C;
  --light-blue: skyblue;
  --dark-blue: #49C0CA;
}

body {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "Rubik";
    background: var(--black);
}

hr {
  opacity: 0.3;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  color: var(--white);
  background: var(--dark-gray);
  font-size: 16px;
  padding: 5px 20px;
  justify-content: space-between;
  place-items: center;
}

.counts {
  display: flex;
  gap: 10px;
  place-items: center;
}

.accuracy {
  background: var(--dark-green);
  padding: 5px 10px;
  border-radius: 10px;
}

.question {
  margin-bottom: 30px;
  line-height: 32px;
  color: var(--white);
}

.syn-color {
  color: var(--green);
}

.ant-color {
  color: var(--red);
}

.word-color {
  color: var(--light-blue);
}

.quiz {
  width: 90%;
  margin: auto;
  padding: 10px;
  
}

.options {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.option._right {
  background: var(--dark-green);
}

.option._wrong {
  background: var(--dark-red);
}

.option {
  background: var(--dark-gray);
  padding: 15px;
  color: white;
  border: none;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 10px;
}

.action {
  width: 100%;
  margin-top: 20px;
}

.next {
  position: relative;
  background: var(--dark-blue);
  width: 50%;
  border: none;
  margin-left: 50%;
  padding: 17px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}

.next:disabled, .next[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.helper {
  width: 90%;
  margin: 40px auto 50px auto;
  color: var(--white);
  display: flex;
  gap: 10px;
}

.word_container {
  background-color: var(--gray);
  padding: 15px;
  border-radius: 10px;
  flex: 0.5;
  text-transform: capitalize;
}

.word_container.hide {
  display: none;
}

.word_container > .title {
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  background: var(--dark-gray);
  padding: 10px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  color: var(--light-gray);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}