:root {
  --backdrop-black: rgba(0, 0, 0, 0.5);
  --black: rgb(31, 31, 31);
  --dark-gray: rgb(71, 71, 71);
  --light-gray: lightgray;
  --gray: rgb(101, 101, 101);
  --white: white;
  --green: limegreen;
  --dark-green: #32B05C;
  --red: orangered;
  --dark-red: #F9484C;
  --light-blue: skyblue;
  --dark-blue: #49C0CA;
  --nav-blue: #3D3F5A;
  --loader-1: skyblue;
  --loader-2: blue;
}

body {
  color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 0;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background span {
  display: inline-block;
  opacity: 0.3;
  transform: rotate(90deg);
}

.bg_text_1 {
  animation: fall_1 3s infinite linear;
}

.bg_text_2 {
  animation: fall_1 4s infinite linear;
}

.bg_text_3 {
  animation: fall_1 5s infinite linear;
}

.bg_text_4 {
  animation: fall_1  6s infinite linear;
}

.bg_text_5 {
  animation: fall_1 7s infinite linear;
}

@keyframes fall_1 {
  from {
    transform: rotate(90deg) translateX(-30vh);

  }
  to {
    transform: rotate(90deg) translateX(120vh);
  }
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  width: 100%;
}

h1 {
  margin-bottom: 60px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  width: 70%;
}

.action {
  background: var(--dark-blue);
  border: none;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 1px 1px 15px -2px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}