@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --backdrop-black: rgba(0,0,0,0.5);
  --black: rgb(31, 31, 31);
  --dark-gray: rgb(71, 71, 71);
  --light-gray: lightgray;
  --gray: rgb(101, 101, 101);
  --white: white;
  --green: limegreen;
  --dark-green: rgba(50, 176, 92, .75);
  --red: orangered;
  --dark-red: rgba(249, 72, 76, .75);
  --light-blue: skyblue;
  --dark-blue: #49C0CA;
  --nav-blue: #3D3F5A;
}


hr {
  opacity: .3;
  margin: 5px 0 15px;
}

.words_page {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 25px 0;
}

.word {
  background: var(--dark-gray);
  width: 90%;
  margin: 0 auto;
  padding: 10px 15px 0;
  border-radius: 15px;
}

.word .word-title {
  font-weight: 900;
  font-size: 22px;
  color: var(--light-blue);
  /* letter-spacing: 2px; */
  text-align: center;
  margin: 10px 0 20px;
  text-transform: capitalize;

}

.syn-ant {
  display: flex;
  flex-direction: column;
}

.synonyms, .antonyms {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.synonyms .title, .antonyms .title {
  font-weight: 600;
}

.synonyms {
  background: var(--dark-green);

}

.antonyms {
  background: var(--dark-red);
}

.load {
  background: var(--dark-blue);
  width: 90%;
  border: none;
  margin: 0 auto;
  padding: 17px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  margin-bottom: 80px;
  display: block;
  
}

.load:disabled, .load[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}